@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
.body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--body);
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
  --body: hsl(235, 21%, 11%);
  --primary: hsl(235, 24%, 19%);
  --text: hsl(234, 39%, 85%);
  --image: url(./images/bg-desktop-dark.jpg);
  --image-mobile: url(./images/bg-mobile-dark.jpg);
  --theme: url(./images/icon-sun.svg);
}
.body-light-mode {
  background-color: var(--body);
  transition: all 0.5s ease;
  --body: hsl(0, 0%, 98%);
  --primary: hsl(236, 33%, 92%);
  --text: hsl(235, 19%, 35%);
  --image: url(./images/bg-desktop-light.jpg);
  --image-mobile: url(./images/bg-mobile-light.jpg);
  --theme: url(./images/icon-moon.svg);
}
.header {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--image);
  transition: all 0.5s ease;
}

.header h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 15px;
}
#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 50px;
  margin: 40px 0;
}
#title button {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.light-mode {
  background-image: var(--theme);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.5s ease;
}
.dark-mode {
  background-image: var(--theme);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  outline: none;
  border: none;
  transition: all 0.5s ease;
}

#input {
  display: flex;
  flex-direction: row;
  position: relative;
}
#save-btn {
  width: 80px;
  height: 40px;
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--body);
  color: var(--text);
  cursor: pointer;
  font-size: 30px;
}
#save-btn:hover {
  color: #fff;
  background-color: #008000;
}

.items {
  width: 470px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 15px;
  outline: none;
  background-color: var(--primary);
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s ease;
}

.clear-container {
  width: 500px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: var(--Very-Dark-Desaturated-Blue);
  margin-top: 20px;
}
.clear-items {
  width: 100px;
  height: 40px;
  color: var(--text);
  background-color: var(--primary);
  outline: none;
  border: none;
  cursor: pointer;
}
.clear-items:hover {
  color: red;
}
.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--Light-Grayish-Blue);
}
.text {
  text-transform: capitalize;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--text);
  width: 500px;
  height: auto;
  margin: 5px 0;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s ease;
}

#btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
}
.delete-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.delete-btn i {
  color: red;
}
@media screen and (max-width: 550px) {
  .header {
    background-image: var(--image-mobile);
  }
  #title {
    justify-content: space-around;
    width: 100%;
  }
  #input {
    width: 95%;
    margin-bottom: 20px;
  }
  .items {
    width: 95%;
  }
  .list-container {
    margin-top: 10px;
    width: 100%;
  }
  .list {
    width: 95%;
  }
}
